.jumbotron {
    text-align: center;
}

.future {
    background-color: lightcoral;
    border: 0.5px solid red;
    color: black;
}

.past {
    background-color: lightblue;
    border: 0.5px solid blue;
    color: black;
}

.present{
    background-color: lightgreen;
    border: 0.5px solid green;
    color: black;
}


.submit {
    float: right;
    position: relative;
}


